@media screen and (max-width: 1024px) {
  .container {
    --max-width: 900px;
    --padding: 1rem;

    width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin-inline: auto;
    padding: 1rem;
  }

  header {
    height: 40rem;
  }

  .right-bg {
    width: 24.75rem;
    height: 31.688rem;
  }

  .bottom-bg {
    height: 18rem;
  }

  .nav-wrapper {
    width: 100%;
    gap: 30rem;
    padding: 0;
  }

  .primary-navigation {
    display: none;
    inset: 5rem -1rem;
    background-color: var(--white);
    z-index: 1000;
    border-top: solid 2px lightgrey;
    height: 100%;
  }

  .nav-list {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 2rem;
  }

  .icon-open {
    font-size: var(--size-30);
    color: var(--font-color-dark-background);
  }

  .icon-close {
    font-size: var(--size-30);
    color: var(--font-color-dark-background);
  }

  .mobile-nav-toggle {
    display: block;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5rem;
    float: right;
  }

  .mobile-nav-toggle .icon-close {
    display: none;
  }

  .opened {
    display: block;
    position: fixed;
    width: 110%;
  }

  .bg-color {
    background-color: white;
    z-index: 1000;
    position: fixed;
  }

  .btn-nav {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
  }

  .hero-header {
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    height: 50rem;
  }

  .text-block {
    text-align: center;
  }

  .text-block h2 {
    padding-right: 0;
    padding: 0 16.625rem;
  }

  .video-btn {
    justify-content: center;
  }

  .icon-1 {
    left: 100px;
    top: -15px;
  }

  .icon-2 {
    left: 330px;
    top: -5px;
  }

  .icon-3 {
    left: 650px;
    top: -5px;
  }

  .icon-4 {
    left: 115px;
    top: 135px;
  }

  .icon-5 {
    left: 480px;
    top: 145px;
  }

  .icon-6 {
    left: 200px;
    top: 270px;
  }

  .icon-7 {
    left: 640px;
    top: 310px;
  }

  .key-benefits {
    margin-top: 21.125rem;
  }

  .card {
    flex-basis: 20.21875rem;
  }

  .software-for-people {
    flex-direction: column;
  }

  .software-for-people h3 {
    text-align: center;
  }

  .video-wrapper {
    padding: 40px 45px;
    margin: 0;
  }

  .image-wrapper {
    margin-top: var(--size-10);
  }

  .hubspot-wrapper {
    flex-direction: column;
  }

  .image-bottom {
    margin-bottom: 3.125rem;
  }

  .image-bottom img {
    width: 96%;
    height: 96%;
  }

  .hubspot {
    align-items: center;
    width: 100%;
  }

  .hubspot p {
    font-size: 1.375rem;
    text-align: center;
    width: 34.1875rem;
  }

  .img-wrapper {
    align-self: center;
  }

  .logo-container h4 {
    margin-top: 0;
  }

  .clients {
    margin-bottom: var(--size-50);
  }

  .pricing-container {
    flex-direction: column;
  }

  .pricing-container h2 {
    text-align: center;
  }

  .pricing-box {
    flex-direction: column;
    align-items: center;
  }

  .pricing-card.long {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    padding: 3rem 2.5rem;
  }

  .pricing-card.long p {
    font-size: var(--size-16);
    text-align: center;
  }

  #credit-card {
    text-align: center;
  }

  .pricing-cards-small {
    width: 100%;
    gap: 1rem;
  }

  .pricing-card.small {
    max-width: 100%;
  }

  .hire-us {
    grid-auto-flow: row;
    gap: 2rem;
    justify-items: center;
  }

  .hire-us-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 0;
    padding: 2rem 0;
  }

  .hire-us-block {
    flex-direction: row;
  }

  .text-wrapper {
    width: 100%;
  }

  .line-2 {
    margin-top: var(--size-10);
    margin-bottom: var(--size-10);
  }

  .testimonials {
    margin-top: var(--size-40);
  }

  .images-2 {
    max-width: 100%;
    gap: 1.5rem;
  }

  .upper-footer {
    gap: 0;
  }

  .left-footer {
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--size-30);
  }

  .social {
    margin-left: 11.25rem;
  }

  .lower-footer,
  .lower-wrapper {
    margin-top: 0;
  }

  .lower :nth-child(2) {
    padding: 0 7.5rem;
  }
}

/* iPads and tables - portrait */

@media screen and (max-width: 768px) {
  .container {
    --max-width: 360px;
    --padding: 0rem;

    width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin-inline: auto;
    padding: 1rem;
  }

  .right-bg {
    width: 7.469rem;
    height: 30.938rem;
  }

  .nav-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem;
  }

  .hero-header {
    padding-top: 0;
  }

  .text-block h2 {
    padding: 0 3.1875rem;
    font-size: 1.625rem;
    line-height: 1.966875rem;
    margin-top: 0;
  }

  .text-block p {
    padding: 0 20px;
  }

  .icon-1 {
    left: 2px;
    top: -45px;
  }

  .icon-2 {
    left: 115px;
    top: -40px;
  }

  .icon-3 {
    left: 250px;
    top: -40px;
  }

  .icon-4 {
    left: 0;
    top: 100px;
  }

  .icon-5 {
    left: 175px;
    top: 105px;
  }

  .icon-6 {
    left: 100px;
    top: 225px;
  }

  .icon-7 {
    left: 250px;
    top: 260px;
  }

  .key-benefits {
    margin-top: 12.5rem;
  }

  .software-for-people,
  .why-front {
    margin-top: var(--size-40);
  }

  .why-front p {
    margin-bottom: 0;
    padding: 0px 0.8125rem;
  }

  .dots-wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-20);
    margin: 0 3.4375rem;
  }

  .dot-block {
    align-items: center;
    flex-direction: row;
  }

  .dot-block p {
    margin-top: 0;
    margin-left: var(--size-50);
  }

  .dot-container {
    width: 0;
  }

  .dot-container .line {
    display: none;
  }

  .video-thumbnail {
    margin-top: var(--size-50);
    height: 14rem;
  }

  .hubspot-wrapper {
    margin-top: var(--size-50);
    margin-bottom: 0;
    gap: var(--size-50);
  }

  .hubspot p {
    padding: 0 0;
    line-height: 2rem;
    font-size: 1.375rem;
    width: 100%;
  }

  .clients {
    flex-direction: column;
    gap: var(--size-30);
    margin-bottom: var(--size-30);
  }

  .pricing-card.long {
    padding: 3rem 1.5rem;
  }

  .line-pricing {
    padding-left: 0;
    padding-right: 0;
  }

  .pricing-card.long p {
    margin: 0 1.9375rem;
    text-align: left;
  }

  .top-row,
  .bottom-row {
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
  }

  .hire-us {
    grid-auto-flow: row;
    gap: 3rem;
    justify-items: initial;
  }

  .hire-us-container {
    grid-auto-flow: row;
    text-align: center;
    gap: 4rem;
    max-width: 20.5rem;
    padding-bottom: 0;
  }

  .hire-us-block {
    flex-direction: column;
  }

  .text-block-2 {
    width: 100%;
  }

  .text-wrapper p {
    width: 100%;
  }

  .testimonials {
    margin-top: 0;
  }

  .images-2 {
    justify-content: center;
  }

  .form-container {
    margin: 0;
    max-height: 55rem;
  }

  .form-element {
    display: flex;
    flex-direction: column;
  }

  .input-1 {
    width: 100%;
  }

  .form-checkbox {
    display: flex;
    margin-bottom: var(--size-10);
  }

  .top-checkbox .form-element {
    margin: 0;
    margin-left: var(--size-30);
    margin-top: var(--size-10);
  }

  .checkbox {
    width: var(--size-30);
    height: var(--size-30);
  }

  .bottom-checkbox {
    /* width: 54%; */
    margin-top: var(--size-10);
    margin-right: var(--size-20);
  }

  .privacy-policy a:nth-child(1) {
    display: none;
  }

  .privacy-policy a:nth-child(2) {
    margin-left: 3.75rem;
  }

  .upper-footer {
    display: grid;
    grid-auto-flow: row;
    text-align: center;
    gap: 3rem;
  }

  .logo-footer {
    width: 100%;
  }

  .address-wrapper {
    align-items: center;
  }

  .left-footer {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
  }

  .footer-text,
  .footer-btn {
    font-size: 1.125rem;
  }

  .footer-policy p:nth-child(2),
  .footer-policy p:nth-child(4) {
    margin-left: 0;
    margin-right: 0;
  }

  .social {
    margin-left: 0;
  }

  .upper-wrapper {
    flex-direction: column;
    gap: var(--size-30);
  }

  .lower-wrapper :nth-child(2) {
    padding: 0 5%;
  }
}
