@media screen and (max-width: 1024px) {
  .container {
    --max-width: 760px;
    --padding: 1rem;

    width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin-inline: auto;
    padding: 1rem;
  }

  .bg-2 {
    width: 14.75rem;
    height: 29.688rem;
  }

  .nav-wrapper {
    width: 100%;
    gap: 30rem;
    padding: 0;
  }

  .primary-navigation {
    display: none;
    inset: 5rem -1rem;
    background-color: var(--white);
    z-index: 1000;
    border-top: solid 2px lightgrey;
    height: 100%;
  }

  .nav-list {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 2rem;
  }

  .icon-bar {
    font-size: var(--fs-28);
    color: var(--font-base);
  }

  .mobile-nav-toggle {
    display: block;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5rem;
    float: right;
  }

  .mobile-nav-toggle .icon-close {
    display: none;
  }

  .opened {
    display: block;
    position: fixed;
    width: 110%;
  }

  .bg-color {
    background-color: white;
    z-index: 1000;
    position: fixed;
  }

  .btn-nav {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
  }

  .hero-header {
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    height: 50rem;
  }
}

/* iPads and tables - portrait */

@media screen and (max-width: 768px) {
  /* [aria-controls="navbarDropdown"] {
    display: block;
  }

  [aria-expanded="false"] ~ ul {
    display: none;
  }

  [aria-expanded="true"] ~ ul {
    display: block;
  } */

  /* .nav-wrapper {
    width: 100%;
    gap: 30rem;
    padding: 0;
  }

  .primary-navigation {
    display: none;
    inset: 5rem -1rem;
    background-color: var(--font-white);
    z-index: 1000;
    border-top: solid 2px lightgrey;
    height: 100%;
  }

  .nav-list {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 2rem;
  }

  .icon-bar {
    font-size: var(--fs-28);
    color: var(--font-base);
  }

  .mobile-nav-toggle {
    display: block;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5rem;
    float: right;
  }

  .mobile-nav-toggle .icon-close {
    display: none;
  }

  .opened {
    display: block;
    position: fixed;
    width: 110%;
  }

  .bg-color {
    background-color: var(--font-white);
    z-index: 1000;
    position: fixed;
  }

  .btn-nav {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
  } */

  .container {
    --max-width: 360px;
    --padding: 0rem;

    width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin-inline: auto;
    padding: 1rem;
  }

  .nav-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem;
  }

  section,
  footer {
    margin-top: var(--size-50);
  }

  .close {
    display: none;
  }
  /* Section 1 */
  .section-1 {
    margin-top: 0;
  }

  .section-1 .home-page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: var(--size-10);
  }

  .text-block h2,
  .text-block p {
    text-align: center;
  }

  .text-block .video-btn {
    justify-content: center;
    margin-bottom: var(--size-50);
  }

  .icons {
    max-width: 76%;
  }

  /* Section 2 */
  .key-benefits .title {
    margin-bottom: var(--size-50);
  }
  .cards {
    gap: var(--size-30);
  }
  .cards .card {
    flex-basis: 330px;
  }

  /* Section 3 */
  .software-for-people {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .software-for-people .video-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
  }

  .title-software-for-people h3 {
    text-align: center;
  }

  .software-for-people .image-wrapper {
    margin-top: var(--size-50);
  }

  /* Section 4 */
  .section-4 .dots-wrapper {
    flex-wrap: wrap;
  }

  /* Section 5 */
  .section-5 .hubspot-wrapper {
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    justify-content: center;
    margin-top: var(--size-10);
    gap: var(--size-40);
  }

  .hubspot-wrapper .portrait {
    max-width: 343px;
  }

  .portrait .image-bottom {
    margin-bottom: 4.125rem;
  }

  .hubspot-wrapper .hubspot {
    align-items: center;
    flex-basis: 549px;
  }

  .hubspot .img-wrapper {
    align-self: center;
  }

  .img-wrapper img {
    height: var(--size-30);
  }

  .hubspot p {
    text-align: center;
  }

  /* Section-6 */
  .section-6 .clients {
    margin-top: 0;
    margin-bottom: 0;
    justify-content: space-between;
  }

  .clients .client {
    max-width: var(--size-100);
  }

  /* Section-7 */
  .pricing-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "long long"
      "components images"
      "cancel money";
    margin-bottom: var(--size-40);
  }

  .pricing-grid .long {
    margin-right: 0;
    max-width: 100%;
    align-items: center;
  }

  .pricing-grid .small {
    max-width: 19rem;
  }

  .pricing-card.long {
    margin-bottom: var(--size-30);
  }

  .pricing-card.long :nth-child(5) {
    margin-bottom: var(--size-40);
  }

  .pricing-grid h2 {
    margin-bottom: var(--size-5);
    margin-top: var(--size-40);
  }

  .line-pricing {
    width: 100%;
  }

  .video-btn {
    margin-bottom: var(--size-10);
    margin-top: var(--size-40);
  }

  .pricing-grid .pricing-card {
    padding: var(--size-5);
  }

  .pricing-card .credit-card {
    margin-left: 0;
  }

  .pricing-btn {
    margin-left: 0;
  }

  .long p {
    margin-right: 0;
    margin-left: 0;
  }

  /* Section-8 */
  .section-8 {
    margin-top: -80px;
    background: #20335b;
    gap: 0;
    flex-direction: column;
    margin: 0;
  }

  .section-8 .hire-us-container {
    flex-direction: row;
    margin-left: 0;
    align-items: center;
    justify-content: space-evenly;
  }

  .text-block-2 h3 {
    margin-bottom: var(--size-5);
  }

  .text-block-2 .text-wrapper {
    width: 22.25rem;
  }

  .testimonials {
    margin-bottom: 32px;
  }

  .images-2 {
    margin-top: var(--size-20);
    max-width: 100%;
    gap: 23px;
  }

  .section-8 .form-container {
    margin: -20px 20px var(--size-20);
    max-width: 100%;
    max-height: 40.5rem;
  }

  /* Footer */
  .upper-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "address company features"
      "address documentation resources";
    justify-items: start;
  }

  .address-wrapper .logo {
    margin: var(--size-10) 0;
  }

  .lower-footer {
    margin-top: var(--size-40);
  }
  .upper-wrapper {
    margin-bottom: 20px;
  }

  .lower-wrapper {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 767px) {
  hr {
    display: none;
  }
}

@media screen and (min-width: 1700px) {
  body {
    max-width: 1700px;
  }

  header {
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
  }
}
