/* .background {
  background: linear-gradient(
    312.73deg,
    rgba(217, 217, 217, 0.44) 17.61%,
    rgba(217, 217, 217, 0) 55.85%
  );
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  overflow: hidden;
  position: relative;
  z-index: -1;
} */

/* .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;
  transition: ease-in-out 0.3s;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
}

.sticky {
  background-color: var(--white);
  position: fixed;
  top: -50px;
  right: 0;
  left: 0;
  padding: 21px 20px;
  z-index: 500;
  box-shadow: 0 0 50px rgba(50 49 75 / 20%);
  transition: ease-in-out 0.5s;
  margin: 40px auto;
}

.navbar-toggler {
  display: block;
  position: absolute;
  right: var(--size-20);
  top: var(--size-20);
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
}

.navbar-toggler span {
  color: grey;
  font-size: var(--size-30);
  cursor: pointer;
  pointer-events: none;
}

[aria-controls="navbarDropdown"] {
  display: none;
} */

/* .navbar-brand {
  width: 100%;
} */

/* .brand {
  width: 100%;
} */

/* .navbar-brand img {
  height: auto;
  width: 140px;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar ul li a {
  padding: 0 var(--size-20);
  color: var(--font-color-base);
}

.navbar .blue-features {
  color: var(--font-color-blue);
}

.navbar .btn {
  margin-left: var(--size-30);
} */

header {
  z-index: 1;
  background: linear-gradient(
    312.73deg,
    rgba(217, 217, 217, 0.44) 17.61%,
    rgba(217, 217, 217, 0) 55.85%
  );
  height: 32.313rem;
}

.right-bg {
  background-color: #e1e7ef;
  width: 19.75rem;
  height: 27.688rem;
  position: absolute;
  right: 0;
  top: 0;
  clip-path: polygon(62% 0, 100% 0, 100% 100%, 0 100%);
  z-index: -1;
}

.bottom-bg {
  background-color: #ffffff;
  width: 100%;
  height: 11rem;
  position: absolute;
  top: 22rem;
  bottom: 0;
  clip-path: polygon(0% 93%, 100% 28%, 100% 100%, 0% 100%);
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;
  gap: 7rem;
}

.nav-wrapper.sticky {
  background-color: var(--white);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 15%);
  position: fixed;
  animation: sticky-nav 1s ease-in-out;
}

.logo {
  float: left;
  height: 2.881rem;
  width: 9.681rem;
}

.nav-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 1.25rem;
}

.nav-list a {
  font-weight: 200;
  color: var(--font-base);
  font-size: var(--fs-14);
}

.mobile-nav-toggle {
  display: none;
}

.primary-navigation {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 50%;
  float: right;
}

.hero-header {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
  padding: 2rem 0rem;
  gap: 4rem;
}

.text-block {
  z-index: 100;
}

.text-block h2 {
  font-size: var(--size-40);
  font-weight: 600;
  color: var(--black);
  font-weight: 500;
  line-height: 48px;
  margin-top: var(--size-50);
  margin-bottom: 11px;
}

.text-block p {
  margin-bottom: var(--size-30);
  font-weight: 500;
  font-size: var(--size-14);
  line-height: 17px;
}

.video-btn {
  display: flex;
  align-items: center;
}

.video-btn a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-btn i {
  font-size: var(--size-20);
  padding-right: 10px;
}

.video-btn a:nth-child(2) {
  margin-left: 1.5625rem;
  color: var(--font-color-blue);
  font-weight: 700;
  font-size: var(--size-14);
}

.icons {
  /* z-index: 10;
  justify-self: center;
  width: 100%;
  max-width: 50%;
  position: relative;
  place-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  margin-top: var(--size-40); */
  position: relative;
  display: flex;
  height: 27rem;
}

.logo-icon {
  /* background: var(--white);
  padding: 20px;
  border-radius: 50px;
  width: fit-content;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 13px rgb(0 0 0 / 25%); */
  background-color: var(--white);
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px lightgrey;
  border-radius: 50%;
}

.logo-icon img {
  width: var(--size-40);
}

.icon-img {
  width: 3rem;
  height: 3rem;
}

.icon-img-small {
  width: 2.5rem;
  height: 2.5rem;
}

.icon-1 {
  position: absolute;
  left: 64px;
  top: 10px;
  animation: nav-load 0.3s ease-in;
}

.icon-2 {
  position: absolute;
  left: 175px;
  top: 10px;
  animation: nav-load 0.5s ease-in;
}

.icon-3 {
  position: absolute;
  left: 380px;
  top: 10px;
  animation: nav-load 0.5s ease-in;
}

.icon-4 {
  position: absolute;
  left: 44px;
  top: 172px;
  animation: nav-load 0.4s ease-in;
}

.icon-5 {
  position: absolute;
  left: 262px;
  top: 172px;
  animation: nav-load 0.5s ease-in;
}

.icon-6 {
  position: absolute;
  left: 155px;
  top: 290px;
  animation: nav-load 0.5s ease-in;
}

.icon-7 {
  position: absolute;
  left: 364px;
  top: 310px;
  animation: nav-load 0.6s ease-in;
}

.logo-icon {
  animation: icon-animation 1.5s ease forwards;
}

@keyframes icon-animation {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
  }
}

.key-benefits .title {
  text-align: center;
  margin-top: var(--size-30);
  margin-bottom: var(--size-50);
}

.title h3 {
  font-size: 26px;
  color: var(--black);
  margin-bottom: var(--size-10);
}

.title p {
  font-size: var(--size-16);
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--size-20);
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--white);
  box-shadow: 0px 10px 20px rgba(0 0 0 / 15%);
  padding: var(--size-20);
  flex-basis: 218.5px;
  transition: 0.3s ease-in-out;
  gap: var(--size-10);
}

.card:hover {
  transform: translateY(-5px) scale(1.05) translateZ(0);
  box-shadow: 0px 3px 13px rgba(37, 118, 255, 0.5);
}

.icon-card {
  display: flex;
}

.icon-card img {
  width: 50px;
}

.card h3 {
  color: var(--black);
  font-size: var(--size-16);
  /* margin-top: var(--size-20);
  margin-bottom: var(--size-30); */
}

.card p {
  font-size: var(--size-14);
  font-weight: 500;
  line-height: 24px;
  margin-bottom: var(--size-10);
}

.card a {
  font-size: var(--size-14);
  color: var(--font-color-blue);
  line-height: 17px;
  margin-top: 0;
  font-weight: bold;
}

.card .sketch {
  display: flex;
  align-items: center;
}

.sketch-btn {
  /* align-content: center; */
  text-align: center;
  /* padding: 4px 10px; */
  background: #01c9a7;
  width: 60px;
  height: 23px;
  color: var(--white);
  border-radius: 15px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  margin-left: var(--size-10);
  margin-bottom: 0;
}

.software-for-people {
  background: #f8fafe;
  display: flex;
  justify-content: space-between;
  /* flex-grow: 1; */
  margin-top: var(--size-100);
  flex-direction: row;
  align-items: center;
}

.video-wrapper {
  margin-left: var(--size-50);
  margin-right: var(--size-100);
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: var(--size-30);
  text-align: center;
}

.title-software-for-people h3 {
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  text-align: left;
  color: var(--black);
  margin-bottom: var(--size-20);
}

.image-wrapper {
  margin-top: var(--size-150);
  box-shadow: 0px 3px 13px rgb(0 0 0 / 25%);
  animation: software 1.5s ease forwards;
}

/* animation on scroll 
https://alvarotrigo.com/blog/css-animations-scroll/
 */

@keyframes software {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
  }
}

.image-wrapper img {
  width: 100%;
  display: block;
}

.why-front {
  margin-top: 5rem;
}

.why-front p {
  margin-bottom: 4.375rem;
}

.blue-dot {
  color: var(--font-color-blue-circle);
  font-size: 6px;
  padding: var(--size-16);
  background-color: #ecf2ff;
  border-radius: 50%;
}

.dots-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.dot-block {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dot-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: var(--size-10);
}

.dot-block p {
  color: var(--black);
  font-size: var(--size-16);
  font-weight: 500;
  margin-top: var(--size-20);
}

.line.invisible hr {
  background-color: transparent;
}

.dot-container .line {
  width: 100%;
  min-width: 50px;
}

.line hr {
  background-color: #e6e9f2;
  height: 2px;
  border: none;
  padding: 0;
  margin: 0;
}

.video-thumbnail {
  position: relative;
  margin-top: var(--size-100);
}

.player-wrapper {
  width: 60px;
  height: 60px;
  background-color: var(--white);
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  top: 45%;
  left: 45%;
  border: solid 1px transparent;
  box-shadow: 0px 3px 13px rgb(0 0 0 / 25%);
}

.video-thumbnail i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  color: black;
  font-size: 20px;
}

.video-thumbnail img {
  width: 100%;
  /* max-width: 900px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hubspot-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: var(--size-100);
  margin-bottom: var(--size-40);
  gap: var(--size-100);
}

.portrait {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  max-width: 500px;
}

.image-top {
  grid-row: 2 / span 8;
  grid-column: 1 /5;
}

.image-top img {
  width: 100%;
  height: 100%;
}

.image-bottom {
  grid-row: 1 / span 8;
  grid-column: 2 / span 8;
  z-index: 10;
  margin-bottom: 6.125rem;
}

.image-bottom img {
  width: 100%;
  height: 100%;
}

.hubspot {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 450px;
}

.img-wrapper {
  align-self: flex-start;
}

.img-wrapper img {
  width: 100%;
  height: var(--size-50);
}

.hubspot p {
  color: var(--black);
  font-size: 1.375rem;
  line-height: 2rem;
  margin-top: var(--size-30);
}

.hubspot p:nth-child(4) {
  margin-left: 0;
}

.hubspot h4 {
  font-size: var(--size-18);
  color: var(--black);
  font-weight: 700;
  margin-top: var(--size-20);
  margin-bottom: 0;
}

.hubspot p:nth-child(4) {
  margin-top: 0;
  font-size: var(--size-14);
  color: var(--font-color-base);
}

.logo-container h4 {
  text-align: center;
  font-size: var(--size-20);
  margin-top: var(--size-50);
}

.clients {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: var(--size-40);
  margin-bottom: var(--size-100);
}

.client {
  width: 100%;
  max-width: var(--size-150);
}

.client img {
  width: 100%;
  display: block;
}

.pricing-container {
  display: flex;
  flex-direction: column;
  gap: 2.75rem;
  margin: 4rem 0;
}

.pricing-container h2 {
  font-size: var(--size-50);
  color: var(--black);
  margin-left: var(--size-20);
  margin-right: var(--size-20);
  margin-bottom: 0;
  margin-top: 0;
}

.pricing-container h2 span {
  color: var(--font-color-base);
  font-size: var(--size-20);
  font-weight: 500;
}

.pricing-box {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.pricing-card.long {
  width: 23.125rem;
  display: flex;
  flex-direction: column;
  gap: 29px;
  padding: 5rem 2.5rem;
  box-shadow: 0px 10px 20px rgb(0 0 0 / 15%);
}

.pricing-card.long p {
  margin-top: 0;
  margin-bottom: 0;
}

.pricing-card.small {
  padding: var(--size-20);
  gap: var(--size-20);
  display: flex;
  flex-direction: column;
  max-width: 16.4375rem;
}

.pricing-card h3 {
  font-size: 18px;
  color: var(--black);
  margin-top: 0;
  margin-bottom: 0;
}

.pricing-card p {
  font-size: var(--size-14);
  line-height: 22px;
}

.line-pricing {
  font-size: var(--size-50);
  padding-left: var(--size-20);
  padding-right: var(--size-20);
}

.line-pricing hr {
  padding-left: var(--size-20);
  padding-right: var(--size-20);
  background-color: var(--black);
  height: 1px;
}

.long {
  grid-area: long;
  box-shadow: var(--box-shadow);
  margin-right: var(--size-30);
  max-width: 370px;
}

#credit-card {
  margin-top: -20px;
  margin-left: var(--size-20);
}

.long p {
  margin-right: var(--size-20);
  margin-left: var(--size-20);
  margin-top: 40px;
}

.pricing-cards-small {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  width: 33.5rem;
}

.top-row {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 2rem;
}

.left-top-small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.right-top-small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.bottom-row {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 2rem;
}

.left-bottom-small {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.right-bottom-small {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

/* .small {
  max-width: 360px;
} */

.pricing-btn {
  margin-left: var(--size-20);
  margin-top: var(--size-30);
  margin-bottom: var(--size-10);
}

.pricing-card .credit-card {
  font-size: 12px;
  color: var(--font-color-base);
  margin-left: var(--size-20);
}

.sketch {
  display: flex;
  align-items: center;
}

/* .sketch button {
  margin-top: var(--size-10);
} */

.form-background {
  background-color: #20335b;
  width: 100%;
}

.hire-us {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
  padding: 2rem 0;
}

.hire-us-container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.75rem;
}

.hire-us-block {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.75rem;
}

.text-block-2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.text-block-2 h3 {
  color: var(--white);
  font-size: 26px;
}

.text-wrapper {
  width: 11.25rem;
}

.text-wrapper p {
  font-size: var(--size-16);
  font-weight: 500;
  line-height: 1.5rem;
  color: #677788;
}

.line-2 {
  border: none;
  height: 1px;
  background: var(--white);
  margin-top: var(--size-30);
  margin-bottom: var(--size-30);
}

.text-wrapper-2 {
  width: 22rem;
}

.text-wrapper-2 p {
  font-weight: 500;
  font-size: var(--size-16);
  color: var(--white);
  line-height: 1.5rem;
  font-style: italic;
}

.testimonials {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.testimonials p:nth-child(1) {
  color: var(--white);
  font-size: var(--size-18);
  margin-bottom: 0;
}

#slack {
  color: #677788;
}

.images-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70%;
}

.image img {
  border-radius: 50%;
}

.img-1,
.img-2 {
  width: var(--size-50);
  height: var(--size-50);
}

.img-3 {
  width: 3.75rem;
  height: 3.75rem;
}

.form-container {
  background: var(--white);
  border-radius: var(--size-10);
  margin: var(--size-30);
  max-width: 36rem;
  max-height: 40.5rem;
}

.form-container h3 {
  color: var(--black);
  margin: 1.875rem 1.96875rem 1rem 1.96875rem;
}

form {
  display: flex;
  flex-direction: column;
}

.form-element {
  display: flex;
  justify-content: space-between;
  margin: 0 1.96875rem 0.925rem 1.96875rem;
  border: none;
  padding: 0;
  gap: var(--size-10);
}

.input-1 {
  width: 250px;
  height: 40px;
  border: 1px solid var(--font-color-form);
  padding-left: 0.9375rem;
}

.input-2 {
  width: 100%;
  border: 1px solid var(--font-color-form);
  padding: 0.9375rem;
  font-size: var(--size-14);
  font-family: "Inter", sans-serif;
}

::-webkit-input-placeholder {
  color: var(--font-color-form);
  font-family: "Inter", sans-serif;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--font-color-form);
  font-family: "Inter", sans-serif;
}
:-ms-input-placeholder {
  color: var(--font-color-form);
  font-family: "Inter", sans-serif;
}
:-moz-placeholder {
  color: var(--font-color-form);
  font-family: "Inter", sans-serif;
}

textarea {
  resize: none;
}

.checkbox {
  width: 40px;
  margin-left: 0;
  margin-right: var(--size-20);
}

.checkbox-text {
  font-size: var(--size-14);
  color: var(--font-color-form);
  line-height: 22px;
}

.privacy-policy {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0;
}

.privacy-policy a:nth-child(1) {
  text-decoration: underline dotted;
  color: var(--font-color-base);
}

.privacy-policy a:nth-child(2) {
  text-decoration: underline dotted;
  color: var(--font-color-blue);
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.3125rem;
  margin-bottom: var(--size-30);
}

footer {
  font-family: "Roboto", sans-serif;
}

.footer-container {
  margin-top: var(--size-50);
}

/* .upper-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: var(--size-10);
  margin-right: var(--size-10);
} */

.upper-footer {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  margin-bottom: var(--size-30);
  gap: var(--size-30);
}

.upper-footer-element .address {
  width: 239px;
  display: flex;
  flex-direction: column;
}

.address-wrapper {
  display: flex;
  flex-direction: column;
}

/* .address {
  grid-area: address;
  width: 16.25rem;
}

.company {
  grid-area: company;
}

.features {
  grid-area: features;
}

.documentation {
  grid-area: documentation;
}

.resources {
  grid-area: resources;
} */

.company h4,
.features h4,
.documentation h4,
.resources h4 {
  font-size: var(--size-18);
  color: var(--black);
  margin-bottom: var(--size-10);
}

.logo img {
  width: 7.1875rem;
  margin-top: var(--size-10);
  margin-bottom: var(--size-10);
}

.footer-icon {
  margin-right: var(--size-8);
}

.footer-text {
  line-height: 25px;
}

.blue-text {
  color: var(--font-color-blue);
}

.footer-btn {
  align-content: center;
  padding: 2px 5px;
  background: var(--font-color-blue);
  /* width: 80px;
  height: 14px; */
  color: var(--white);
  border-radius: 3px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  margin-left: var(--size-10);
  margin-bottom: var(--size-10);
}

.footer-line hr {
  /* margin-left: var(--size-10);
  margin-right: var(--size-10); */
  background-color: #e6e9f2;
  height: 1px;
}

.lower-footer {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  margin-top: var(--size-50);
  margin-bottom: var(--size-20);
}

.upper-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
}

.footer-policy {
  display: flex;
  gap: 0.5rem;
  color: var(--font-base);
  font-size: var(--fs-14);
}

.footer-policy p:nth-child(2),
p:nth-child(4) {
  margin-bottom: 0;
  margin-left: var(--size-10);
  margin-right: var(--size-10);
}

.social {
  display: flex;
  align-items: center;
}

.social i {
  background-color: var(--font-color-light-background);
  font-size: var(--size-20);
  padding: var(--size-10) 13px;
  border-radius: 5px;
  margin: 0 var(--size-10);
  cursor: pointer;
}

.social select {
  background-color: var(--font-color-light-background);
  border: none;
  height: 2.5rem;
  padding: 0 var(--size-10);
  margin-left: var(--size-10);
  border-radius: 5px;
}

/* select:after {
  content: "\f107";
  font: normal normal normal 17px/1 FontAwesome;
  color: red;
  right: 11px;
  top: 6px;
  height: 34px;
  padding: 15px 0px 0px 8px;
  position: absolute;
  pointer-events: none;
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  display: block;
  width: 100%;
  max-width: 320px;
  height: 2.5rem;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ecf2ff;
  background-image: none;
  -ms-word-break: normal;
  word-break: normal;
} */

.lower-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  color: var(--font-base);
  font-size: var(--size-14);
  font-weight: 400;
  margin: 3rem 0;
}

.lower-wrapper :nth-child(2) {
  padding: 0 14rem;
}
